<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <!-- En el archivo views/orders/index.ejs -->
        <h1>Órdenes</h1>
        <ul>
        <% orders.forEach(order => { %>
            <li>
            <h2>ID de la orden: <%= order.id %></h2>
            <p>Fecha del pedido: <%= order.fecha_pedido %></p>
            <p>Total: <%= order.total %></p>
            <p>Dirección de envío: <%= order.direccion_envio %></p>
            <p>Estado del pedido: <%= order.estado_pedido %></p>
            <p>Fecha de actualización: <%= order.fecha_actualizacion %></p>
            <p>ID del carrito: <%= order.id_carrito %></p>
            </li>
        <% }); %>
        </ul>

    </body>
</html>