<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Product</title>
</head>
<body>
  <%- include('../partials/navbar.ejs') %>

  <h1>Edit Product</h1>
  <form action="/products/<%= product.id %>" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT">
  
    <label for="nombre_producto">Nombre del producto:</label>
    <input type="text" id="nombre_producto" name="nombre_producto" value="<%= product.nombre_producto %>"><br><br>
    <label for="precio">Precio:</label>
    <input type="number" id="precio" name="precio" value="<%= product.precio %>"><br><br>
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" name="descripcion"><%= product.descripcion %></textarea><br><br>
    
    <div>
      <label for="imagen">Imagen:</label>
      <input type="file" id="imagen" name="imagen" />
    </div>
    
    <input type="submit" value="Guardar cambios">
  </form>
  
  <form action="/products/<%= product.id %>/delete" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <p>¿Estás seguro de que quieres eliminar el producto <%= product.nombre_producto %>? Esta acción no se puede deshacer.</p>
    <input type="submit" value="Eliminar">
  </form>
  
  

</body>
</html>
