<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <!-- En el archivo views/products/index.ejs -->
        <h1>Productos</h1>
        <ul>
        <% products.forEach(product => { %>
            <li>
            <h2>ID del producto: <%= product.id %></h2>
            <p>Nombre del producto: <%= product.nombre_producto %></p>
            <p>Descripción: <%= product.descripcion %></p>
            <p>Categoría: <%= product.categoria %></p>
            <p>Precio: <%= product.precio %></p>
            <p>Enlace de afiliado: <%= product.enlace_afiliado %></p>
            <p>Imagen: <%= product.imagen %></p>
            <p>Atributo extra 1: <%= product.atributo_extra_1 %></p>
            <p>Atributo extra 2: <%= product.atributo_extra_2 %></p>
            </li>
        <% }); %>
        </ul>

    </body>
</html>
