<!-- En el archivo views/products/list.ejs -->
<table class="table table-striped">    
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Categoría</th>
      <th>Precio</th>
      <th>Enlace afiliado</th>
      <th>Imagen</th>
      <th>Atributo extra 1</th>
      <th>Atributo extra 2</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% for (let product of products) { %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.nombre_producto %></td>
        <td><%= product.descripcion %></td>
        <td><%= product.categoria %></td>
        <td><%= product.precio %> €</td>
        <td><%= product.enlace_afiliado %></td>
        <td><img src="/uploads/<%= product.imagen %>" alt="Imagen del producto"></td>
        <td><%= product.atributo_extra_1 %></td>
        <td><%= product.atributo_extra_2 %></td>
        <td>
          <a href="/products/<%= product.id %>">Detalle</a>
          <a href="/products/<%= product.id %>/edit">Editar</a>
          <form action="/cart/add-to-cart" method="POST">
            <input type="hidden" name="productId" value="<%= product.id %>">
            <input type="number" name="cantidad" value="1" min="1" max="10">
            <button type="submit">Agregar a carrito</button>
          </form>
          <form action="/products/<%= product.id %>/delete" method="post">
            <button type="submit">Eliminar</button>
          </form>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
